<link rel="import" href="../components/ml-search.html">
<dom-module id="ml-model-search">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }      
      h1 {
      	color: rgb(235, 160, 104);
      }
      .table {
      	display: table;*
      	margin-top: 6px !important;
      	margin-bottom: 6px !important;
      	width: 100%;
      	border-spacing: 0px;
      	padding: 1px;
      }
      .heading {
      	display: table-row;
      	font-weight: bold;
      }
      .row {
      	display: table-row;
      }
      
      .heading .cell {
      	display: table-cell;
      	vertical-align: middle;
      	padding: 5px;
      	border-bottom: 1px solid #333;
      	font-weight: bold;
      }
      
      .row .cell {
      	display: table-cell;
      	padding: 10px;
      	border-top: 1px solid #dddddd;
      }
      
      paper-button.action {
	    background-color: #FA7252;
	    color: white;
	  }
      
    </style>
    <div class="card">
    	<div class="container flex">
    		<div class="horizontal end-justified layout"><paper-button raised class="action" on-click="addNew">New</paper-button></div>
    	</div>
		<div class="scrollTable">
			<div class="table">
				<thead>
					<div class="heading">
						<div class="cell">Name</div>
						<div class="cell">Description</div>
						<div class="cell">Status</div>
						<div class="cell">Create Date</div>
					</div>
				</thead>
				<template is="dom-repeat" items="[[rows]]" as="row">
					<div class="row">
						<div class="cell"><a href$="/modeldeploy/app/model/[[row.id]]">[[row.displayName]]</a></div>
						<div class="cell">[[row.description]]</div>
						<div class="cell">[[row.statusDesc]]</div>
						<div class="cell">[[row.formattedCreateDate]]</div>
					</div>
				</template>
			</div>
		</div>    		
    </div>
  </template>

  <script>
    Polymer({
      is: 'ml-model-search',
      behaviors: [MLCommonBehavior,MLFormatBehavior],
      attached: function() {
    	  this.setPageTitle("Model Search");
      },
      rows: [],
      ready: function() {
          this.sendRestRequest("GET", "service/model", null, this.detailResponse, null);
      },
      detailResponse: function(detailResp) {
    	  var jsonResponse = detailResp.detail.response;
    	  this.rows = jsonResponse;
      },
      addNew: function() {
    	  var dialog = document.createElement('ml-dialog-create-model');
    	  Polymer.dom(this.root).appendChild(dialog);
    	  Polymer.dom.flush();
    	  dialog.open();
      }
    });
  </script>
</dom-module>