<dom-module id="ml-layout-full">
  <template>
  		<style>
  			#user {
  				background-color: #FA7252;
  				color: #fff;
  			}
  			#main-body {
  				background-color: #E9F0F5;
  				height: 2000px;
  			}
  			#header {
  				min-height: 64px;
  				background-color: #333;
  			}
  		</style>
		<paper-header-panel class="blue">
			<div class="paper-header">
				<div id="header" class="paper-header vertical layout">
					<div><ml-top-menu id="top" title="[[pagetitle]]"></ml-top-menu></div>
				</div>
			</div>
			<div id="main-body" class="content"><content id="layoutMainContent"></content></div>
		</paper-header-panel>
  </template>
   <script>
    Polymer({
      is: 'ml-layout-full',
      behaviors: [MLCommonBehavior,MLLayoutBehavior]
    });
  </script>  
</dom-module>